:root{
    --white: #F9F9F9;
    --clr-primary:#CDF0EA;
    --clr-secondary: #BEAEE2;
    --purple: #BEAEE2;
    --drk-blue: #046582;
    --black: #6E7582;
    --shadow: 0 4px 6px rgb(49 54 68 / 5%), 0 5px 20px rgb(49 54 68 / 8%);
    --shadow2: 0 4px 6px rgb(49 54 68 / 19%), 0 5px 20px rgb(49 54 68 / 30%);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--clr-primary);
}
img{
    max-width: 100%;
}
header{
    position: relative;
}
main{
    padding: 30px 20px;
}
.text-right{
    text-align: right;
}
.card{
    background-color: var(--white);
    box-shadow: var(--shadow);
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
}
.card:hover{
    box-shadow: var(--shadow2);
}
.banner{
    height: 200px;
    overflow: hidden;
}
.privew{
    position: relative;
    background-color: var(--white);
    
}
.privew{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.info{
    margin-top: -110px;
    position: relative;
   display: grid;
   grid-template-columns: 110px auto;
   gap: 20px;
   align-items: flex-end;
   
}
.cover{
    border: 5px solid var(--black);
    display: flex;
}
.btn{
    padding: 5px 10px;
}
.like{
    background-color: var(--clr-primary);
    width: 150px;
    overflow: auto;
    border: none;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.like:hover{
    background-color: var(--clr-secondary);
}
.title{
    padding: 40px 0px 10px 0px;
    text-transform: capitalize;
}
.topmenu nav{
    padding: 30px 0px;
}
.topmenu a{
    text-decoration: none;
    padding: 15px 10px;
    position: relative;
    /* background-color: var(--drk-blue); */
}
.topmenu a:hover::after{
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: var(--drk-blue);
    transform: scale(1,1);
    transition: transform 200ms ease-in;
}
.table{
    width: 100%;
}
.info-char{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.char,.char2{
    display: grid;
    gap: 5px;
}
.char{
    grid-template-columns: 50px auto;
}
.char2{
    grid-template-columns: auto 50px;
}
.char img{
    width: 50px;
}
